<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-lg-8 col-lg-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Profile</h3>
                </div>
                <div class="panel-body">
                    <form name="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Name" name="name" type="text" ng-model="user.name" required>
                                <span class="error-msg" ng-show="form.name.$invalid && submitted"> This is required </span>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Description" name="description"  ng-model="user.description" required></textarea>
                                <span class="error-msg" ng-show="form.city.$invalid && submitted"> This is required </span>
                            </div>  
                            <div class="form-group">
                                <input class="form-control" placeholder="City" name="city" type="text" ng-model="user.city" required>
                                <span class="error-msg" ng-show="form.city.$invalid && submitted"> This is required </span>
                            </div>                           
                            
                            <a ng-click="update(form)" class="btn btn-lg btn-success btn-block">Update</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>