<div class="row" ng-show="errorMsg">
        <div class="col-sm-12 text-center">
             <div class="alert alert-warning">
                    <strong> {{ errorMsg }} </strong>
                </div>                
        </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Register</h3>
                </div>
                <div class="panel-body">
                    <form name="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Name" name="name" type="text" ng-model="user.name" required>
                                <span class="error-msg" ng-show="form.name.$invalid && submitted"> This is required </span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" ng-model="user.email" required>
                                <span class="error-msg" ng-show="form.email.$invalid && submitted"> This is required </span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" ng-model="user.password" required>
                                <span class="error-msg" ng-show="form.password.$invalid && submitted"> This is required </span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Confirm Password" name="confirmpassword" type="password" ng-model="user.confirmpassword" required>
                                <span class="error-msg" ng-show="form.confirmpassword.$invalid && submitted"> This is required </span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="City" name="city" type="text" ng-model="user.city" required>
                                <span class="error-msg" ng-show="form.city.$invalid && submitted"> This is required </span>
                            </div>                           
                            
                            <a ng-click="register(form)" class="btn btn-lg btn-success btn-block">Register</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>